[class*="col-"] {
    color: white;
    background-color: #006CFA;
    border: 1px solid white;
    text-align: center;
    padding: 1rem;
}

.special {
    background-color: #00E165;
    border: 1px solid #006CFA ;
}